.bodyBlack {
  background: black;
}
.bodyWhite {
  background: #B7CAE5;
}
.bodyWhiteText {
  color: black;
}
.bodyRed {
  background: #E83F6F;
}

.bodyRedText {
  color:#B7CAE5;
}

.bodyGreen {
  background:#84DCC6;
}
.bodyGreenText {
  color:#3E535A;
}
.bodyYellow {
  background:#FFBF00;
}
.bodyYellowText {
  color:#2274A5;
}
.bodyAqua{
  background:#70C1B3;
}
.bodyAquaText {
  color:#F3FFBD;
}

