.bodyBlack {
  background: #610F7F;
  color:#9AABC0;
}

@media (max-width: 630px){
  .bodyBlackDrop {
    display: none;
    position: fixed;
    width: 93%;
    background:#610F7F;
    z-index: 99;
    margin: 10px 0;
    top: 0;
      padding: 60px 0px;
      border: 5px solid white;
      animation: none;
      // z-index: 101;
      img {
        display: none;
        animation: none;
      }
}
}
